.map_container {
    flex: auto;
    /*padding: 0 10px;*/
}

/*Tablets and under*/
@media (max-width: 768px) {
    .map_container {
        /*display: block;*/
        /*overflow: hidden;*/
        width: 100%;
        height: 50vh;
        /*padding: 0 10px;*/
    }

}

/*Mobile*/
@media (max-width: 500px) {

}